body {
    margin: 0;
}
.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 220ms!important;
}
.slide.out, .slide.in {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 300ms!important;
}
.ui-page {
    font-size: 1em;
}
.ui-content {
    border: none!important;
}

.ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay, .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.ui-panel-animate.ui-panel-page-content-position-left {
    left: 0;
    right: 0;
}
.ui-panel-animate.ui-panel-page-content-position-left {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.ui-navbar ul {
    overflow: hidden;
}
input, textarea {
    -webkit-user-select: text!important;
}

#popupcontainer {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50%;
}
.popupborder {
    padding: 1%}
.popupitem {
    height: 350px;
}
.loginfields{padding-top: 6%}
.loginfieldinput{padding-left: 1%;
    width: 68%;}
.loginfieldinput.remembersliderdiv{padding-top: 4%;}
.prefrencesdiv{font-size: 0.9em;}
.preferencesfieldset .understandlabel{padding-top: 4%;}
.selectportalbtn{
    margin-top: 2%;
    margin-bottom: 3%;
    height: 1.6em;
    padding-top: 2% !important;}

#pagefooter, #mediafooter, .footerbar, #podcastfooter, #videopagefooter{height:2.6em; min-height:2.6em;}
.pageheadclosebtndiv{padding-right: 6%;}
/* Course Page */
.footernavbarleft{width:55%;}
#footericonsleft .lhsmenuicondiv{width: 18%;
    text-align: center;
    padding-left: 0.5%;
    margin-top:-1.5%;}

#footericonsleft .footernavbarleft{width:62%;}
#coursepanelheaderrhs, #coursepanelhomerhs, #settingspanelrhs, #helpsettingspanelrhs, #podsettingspanelrhs{margin-top: 0%;}
#podcastviewheader, #coursepodcastviewheader, #eclassviewheader, #helpdeskheader, #supportviewheader, #venueviewheader{padding-top:4%; padding-bottom:3%;letter-spacing: 0.04em;font-family:'Poppins';}
#coursepanelheaderlhs{width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    padding-left: 2%;}
#coursepanelheader{padding-left:20%;}
#coursepanelheader.show1{padding-left: 33%;}
#coursepanelheader.iphone5.show1{padding-left: 28%;}
#coursepanelheader.iphone5.show2{padding-left: 10%;}
#coursepanelheader.iphone5.show3{padding-left: 0%;}
#coursepanelheader.lessonsmenu{padding-left: 10%;}
#coursepanelheader #coursepanelheadertext{
    padding-top: 16px;
    font-family: 'Poppins';
        font-weight: 500;
        letter-spacing: 0.04em;
}

#coursepanelheadericon{width: 50px;
    height: 50px;}

#rhsmenupageheader{width: 25%;margin-right:0;}
#coursepanel.iphone5 #rhsmenupageheader{width: 30%;}
#menupageheadrhs{width: 25%;margin-right:0;}
#coursemenupanel #rhsmenupageheader{width: 15%;}
.headericondiv{max-height: 3em;}
#rhsmenupageheader div.headericondiv.lessoniconrhs{padding-right: 0%;}
#lessonhead{width: 86%;}
#lessonheaderdiv{min-height:3em;padding-top: 0%}
#menucontentdiv{margin-top:0%;}
.rhsmenuicondiv{width: 25%;}
.rhsmenuicondiv{width: 35%;}
#grouptitlehead, #sectiontitlehead{
    padding-left: 2%;
}
.coursesli div.ui-collapsible-content.ui-body-h, .modgroupsli div.ui-collapsible-content.ui-body-h{margin-bottom: 0;}
#sectiontitlehead{ padding-top: 0;}
#ulcourses .coursetitlediv, #ulcourses  .sectiontitlediv{min-height: 3.2em !important;}
#groupset .coursetitlediv, #groupset  .sectiontitlediv{min-height: 2.2em !important;}
.coursesli .clientheader a{padding-top: .5%;
    padding-bottom: 1% !important;background-color:#41424c !important;}
.limodtitlediv{padding-top: 1%;}
.modulegroupdiv{max-width: 75%;padding-top:0; min-height:3.2em;}
.coursetitle{padding-top: 2%;
    font-weight:bold;
    padding-bottom: 1%;
    letter-spacing: 0.04em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 2.4em !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
    text-shadow: none;}
.coursesingleline{padding-top:4.5%;}
.statusclass{background-size: 100% 100%;}
.sections .statusclass{background-size: 95% 100%;}
#menucontentgroup.iphone5 .modulelilist .statusclass{background-size: 90% 100%;}

.sectiontitlediv{max-width: 75%;}
#menucontentgroup .grouptitle, #menucontentgroup .sectiontitle{min-height:1.2em !important;font-weight:bold !important;padding-top: 2%;}

.sectionmoduletitle{width: 86%;
    font-size: 0.9em;
    color: black;
    float: left;
    padding-left: 2%;
    padding-right: 0;
    min-height: 2em;
    padding-top: 4%;
    padding-bottom: 1%;
    overflow: hidden;
    min-height:2.4em;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
    text-shadow: none;}
#menucontentsection.iphone5 .sectionmoduletitle{width: 82%;}
.sectionmoduletitle.doubleline{padding-top:2%;}
.groupmoduletitle{width: 84%;
    font-size: 0.9em;
    color: black;
    float: left;
    padding-left: 2%;
    padding-right: 0;
    min-height: 2em;
    padding-top: 4%;
    padding-bottom: 1%;
    overflow: hidden;
    min-height:2.4em;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-decoration: none;
    text-shadow: none;}
#menucontentgroup.iphone5 .groupmoduletitle{width: 80%;}
.groupmoduletitle.doubleline{padding-top:2%;}
#menucontentgroup .groupmodtitlebtn, #menucontentgroup .sectionmodtitlebtn{width: 40px;
    height: 40px;margin-right: 2.25%;}
#menucontentsection .statuslocksco{margin-top:2%;}
#menucontentsection .sectionmodtitlebtn {width: 35px;
    height: 35px;
    margin-top: 2%;margin-right: 2%;}
.sections .statuslock{width:40px;}
#menucontentsection .scosingleline{padding-top:14px !important;}
.sectiontitlediv{padding-top: 3%;}
.sectiontitle{width: 100%;
    font-weight: bold !important;
    padding-top: 2%;
    padding-bottom: 0;min-height: 2em !important;font-size:0.9em;}
.scolidiv{overflow:auto;}
.scoli{min-height: 4em;background-color:white !important;}
.groupsingleline{padding-top:3% !important;}
#ulcourses .limodtitlediv{padding-top: 3% !important;}
#ulcourses .groupsingleline{padding-top: 7% !important;}

.scosingleline{padding-top:2% !important;}
.statussco{background-repeat: no-repeat;}
.statuslocksco{width: 7%;
    min-height: 2em;
    margin-left: 0}

#ulcourses .statuslock{width: 40px; min-height: 3.2em;}
#ulcourses.iphone5 .statuslock{width: 14%;}
.navarrow.nav{margin-right:0;}
.scolititle{max-width:80%;}
.scolidiv .navarrow.nav{margin-top: 2.5%;}
.limodtitleactive .navarrow.nav{margin-top: 3%;}

.modulelilist .statuslock{width:40px;}
#menucontentgroup.iphone5 .modulelilist .statuslock{width:15%;}
#menucontentgroup .groupmoduletitle{font-weight:bold;padding-bottom: 1%;}
#menucontentgroup .limodtitlediv{padding-top: 3%;}
#menucontentgroup .limodtitlediv.groupsingleline{padding-top: 7% !important;}
#ulcourses div.limodtitlediv.groupsingleline{width: 22em !important;}

#scosset.iphone5 .statuslock{width: 14%;}
#scosset.iphone5 .sections .statusclass{background-size: 90% 100%;}
#scosset.iphone5 .statuslocksco{width: 8%;margin-left: 0;}
/*
 #ulcourses .modulegroupli.ui-first-child .limodtitlediv.groupsingleline{padding-top: 20% !important;}
 #ulcourses .modulegroupli.ui-last-child .limodtitlediv.groupsingleline{padding-top: 6.5% !important;}
 #ulcourses .modulegroupli.ui-first-child.ui-last-child .limodtitlediv.groupsingleline{padding-top: 12% !important;}
 */
#theoryviewheader{text-align: center;
    padding-left: 15% !important;
    font-family: 'Poppins';
    font-weight: 500;
    letter-spacing: 0.04em;
    margin: 0% !important;
    padding-top: 8%;
}
#theoryviewheader.noicon{padding-left: 30% !important;}
#theoryviewheader.iphone5{text-align: left;
    padding-left: 0 !important;}
.theoryviewhead{width: 45%; margin-right:-20%!important;margin-left:0%;}

#coursepagecontent #lessonhead{padding-top: 4%;}
#coursepagecontent #lessonheadclosediv{margin-right: 5%;}
#contentprimary.iphone5 #coursepagecontent #lessonheadclosediv{margin-right: 6%;}
#coursepagecontent #lessonheadclosebtn{width: 40px;
    height: 40px;margin-left:0}
#theorydatacontent{margin-top: 2%;}
#coursepagecontent #audiotheoryplayerdiv{width: 100%;
    margin-left: 0;}
.flashcontentdiv iframe{width:100%; min-height: 320px;}
video#vidplayer.video-js.vjs-default-skin{width: 400px;
    height: 320px !important;}
.assessmentsummaryresults{margin-top: -2.5% !important; min-height:2em;}
.assessresulttitle{width: 86%;padding-top: 1.5%;}
.actualbookhead{margin-top: 3%}
.assessheadclosebtndiv{width: 8%;
    margin-top: 0.5%;}
.asresults{padding-top: 3.5% !important;
    padding-bottom: 1% !important;}
.asresults .assessheadclosebtndiv{
    margin-top: -2.5%;}
div#assessmentresultdiv.assessresults{margin-top: -2.5% !important;}
.assessresults .assessmentsummaryresults{padding-top: 3% !important;min-height: 1.6em;}
.assessresults .resultcontent{width: 97%;}
.resultsummaryhead h1{font-size:1em;}
.resulthead{width: 32%; line-height: 120%;}
.resultitem{width: 66%; line-height: 120%;}

#contentprimary.iphone5 .resultrowsummary{min-height: 2.8em;}
#contentprimary.iphone5 .resulthead{width: 34%;}
#contentprimary.iphone5 .resultitem{width: 60%;}


#bookingdatediv>.ui-body-h{width: 95%;
    margin-left: 2%;}
#bookingcontent div.ui-datebox-grid{font-size: 0.65em;}
#bookingcontent .bookingdatehead{padding-top: 3% !important;}

#bookingcontent .viewbookbtn, #bookingcontent .cancelbookbtn,#bookingcontent .cancelbookbtnnew, #bookingcontent .cancelschedulebookbtn, #bookingcontent .viewschedulebookbtn, #bookingcontent .nocancelschedulebookbtn, #bookingcontent .attendschedulebookbtn, #bookingcontent .schedulebookbtn, #bookingcontent .bookbtn
{
    font-size: .8em;
    /*padding-top: 3.1%;
    padding-bottom: 3%;*/
    padding-top: 6px;
    padding-bottom: 6px;
}

#bookingpopupcontent .bookdetailheader{width: 95%;}
#bookingsul li{padding-bottom: 0.5%;
    padding-top: 2.5%;}
#bookingpopupcontent #map_canvas{margin-left:-2.5%}
.directionsbtndiv{width:50%;}
.navfieldsetdiv{padding-left: 0;
    margin-top: 0;
    overflow: auto;min-height: 2.5em;}
.understandbtndiv{width: 48%;
    margin-left: 1%;
    min-height: 2em;}
.understandlabel{padding-top: 8%;
    padding-right: 0;
    font-size: 0.9em !important;
}

.nextprevbtndiv{width: 48%;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    min-height: 2.2em;
    color: #FFFFFF;
    padding-bottom: 1%;}
.navlinkdiv{padding-top:5%;}
.wsnavlinkdivprev{padding-top: 2%;
    padding-bottom: 2%;}
.wsnavlinkdivnxt{padding-top: 2%;
    padding-bottom: 2%;}
/*eclasses podcasts */
#eclassplaylistdiv.wrapper{font-size:0.9em;}

/*Worksheet */

.datacontent .worksheetcontent{margin-top: 1%;padding-bottom:0.2em;}

.worksheettitle{padding-bottom: 0;font-size:0.9em;}
.worksheetcontent #wsquestions{margin-left: 1%;
    width: 98%;}
.wslegend{padding-bottom: 0; font-size:1em!important;}
.wsqno{font-size:0.9em;}
.wsqinput{margin-left: 2%;}
/* Media Page */

.mediatabbtn{padding-bottom:2%;}
#mediamaincontent.ui-content{margin-top: 10% !important;}
#mediamaincontent.iphone5.ui-content{margin-top: 13% !important;}
#mediamaincontent.iphone5.ui-content.playlistviewtab{margin-top: -3em !important;}
#mediamaincontent{margin-top:5%;}
#mediamaincontent.playlistviewtab{margin-top: -3em !important;}

#mediamaincontent.video.ui-content{margin-top: 10% !important;}
#mediamaincontent.audio.ui-content{margin-top:10% !important;}
#mediamaincontent.playlistviewtab{margin-top:-3em !important;}

#mediamaincontent.iphone5.video.ui-content{margin-top: 13% !important;}
#mediamaincontent.iphone5.audio.ui-content{margin-top:13% !important;}
#mediamaincontent.playlistviewtab{margin-top:-3em !important;}

#podcastpage .footerbarleft{width:65%;}
#podcastpage .footerbarright{width:55%;}
#mediafooter .footernavbarleft{width:45%;}
#venuefooterbckbtn{margin-top:-2%;}
.footerbarright{width:35%;}
#playlisttitlepopup{margin-top:8%;background-color: white;}
#playlisttitlelabel{width: 20%;    padding-top: 3%;}
.playlisttitleinputdiv{width:75%!important;}
.playlistbuttongrid{width:35%;}
.addplaylistbtndiv{padding-top: 5%;}
.podcastitemdivdownload{font-size: 1em;}
#settingsmenuheader, #settingspodmenuheader{padding-top:4%;}
#podcasttab, #courseplaylisttab, #eclasstab, #eclassplaylisttab, #playlisttab, #userplaylisttab, #audiotab, #videostab{font-size:0.9em;}
div#userplaylistdiv.wrapper{padding-top:7%;}
div.captionblockdiv{font-size:0.9em;}

.catnavdiv{width: 10%;}
.captionblockdiv{width:95%;}
div.captionblockdiv {
    padding-top: 2%;}
#courseplaylistheader{padding-top: 1%;}
#playlistheader{padding-top: 0%;
    font-size: 1.1em;}
.rhsheadmenuicon{margin-top: 0;
    padding-top: 0;
    margin-right: 0;}
#eclasstabcontainer.flip-container.plshowed, #coursetabcontainer.flip-container.plshowed{margin-top:22%;}

#eclasstabcontainer.flip-container.plshowed.plshowing, #coursetabcontainer.flip-container.plshowed.plshowing{margin-top:0%;}
.eclassplaylistclosebtn{margin-top: -8%;}
#podfooterleftbckbtn{margin-top: -1.5%;}
#playlistheaderbar, #courseplaylistheaderbar, #eclassplaylistheaderbar{min-height: 2.4em;}
#eclassplaylistheader{padding-top: 1.5%;}
#coursepodcategoryul .podcastitemdiv{width:68% !important;}
.podcastitemdivdownload, .podcastitemnotesdiv{padding-top:2%;padding-left:9%;letter-spacing: 0.04em;}
.videonotesdivdownload{
    padding-top:2%;padding-left:6%;letter-spacing: 0.04em;
}
.podcastitemdivnotes{padding-top:2%;padding-left:8%;letter-spacing: 0.04em;}
#coursepodcastcontent .podcastitemdivdownload{padding-top:4%;padding-left:0%;}
#coursepodcastcontent{margin-top:0%;}
.podcategoryul.playlistsortable .podcastitemdivdownload{padding-top:2%!important;}
.podcategoryul .plitemdiv.podcastitemdivdownload{padding-top:3%!important;}
.icontypediv, .playitembtn, .mediabuttonsdiv, .mediabuttonsdivall{width:10%;}
.podcastitemdiv, .podcastitemnotesdiv{padding-top:3%;width:78%;}
#eclasscategoryul .playitembtn, #eclasscategoryul .mediabuttonsdiv{width:10%;}
#audioplayerdiv1, #videoplayerdiv, #audiopodplayerdiv, #eclassplayerdiv{width: 100% !important;
    margin-left: 0;}
#audiopodplayerdiv{padding-top:3%;}
#footericonsright.trackspopup{margin-right:5%;}
.playlistitemsheaderdiv.ui-collapsible-heading{padding-left: 5% !important;
    padding-right: 20% !important;}
.playlistitemsheaderdiv.ui-collapsible-heading a.ui-collapsible-heading-toggle{padding-top:5% !important;}
.tracksheader{padding-top: 3% !important;
    padding-bottom: 3% !important;}
.plitemdiv{padding-top: 3%;
    width: 76%!important;}
.plhandle{width: 39px;
    height: 38px;float: right;margin-left: 0;}
.playlistcheck{float: right;
    /*margin-left: 0.5%;*/
    margin-left: 0%;
    width: 38px;
    height: 38px;}
#footerbarleftplbckbtn{margin-top: -4%;
    padding-left: 15%;}
#footertracksmenubtn{margin-top: -3%;}
#footerbarplright .rhsfootmenuicon.footerbarsettingsli{padding-top:11%;}
/* Helpdesk page */
.helpdeskmaincontent{margin-top:-.5%;}
.helpdeskitemtitle{padding-top: 1%;}
.helpdeskitemtitle a.ui-collapsible-heading-toggle{min-height: 1em;}
.helpdeskitemtitle a.ui-collapsible-heading-toggle, .helpdeskitemtitlecurrent{font-size:1em}
#helpdeskitemtitleadd .ui-btn-icon-right:after, #helpdeskitemtitlecurrent .ui-btn-icon-right:after{right: 1.25em !important;}
.helpcollapsibleset .ui-collapsible-content ul {-webkit-padding-start: 15px;}

#supportpage.iphone5 .supportmainmain .ui-collapsible-content p{margin-right: 12%;}
.helpdeskitemtitle{padding-top: 0;
    padding-bottom: 0;}
#addnewfilebtn{padding:2.5%;}
img#addissueimg, img.deleteissueimg, img.addissueimg, img.removeissueimg{padding-left: 30%;}
img.deleteissueimg, img.removeissueimg{padding-left:25%;}
div.removeissuefilebtntxt{padding-top: 3%;}
.sendsupportbtn, .cancelsupportbtn{padding-top: 1.5%;
    padding-bottom: .5%;}
#searchmessagedivlabel{padding-left:6%;}
#supportfieldsadd{font-size: 0.9em}
#supportfieldsadd .issuelabel{padding-top: 2%;letter-spacing: 0.04em;}
#select-issue-button.ui-btn-icon-right:after{margin-top: -8% !important;
    margin-right: -5% !important;}
#messagesupportfields.supportfields{font-size:0.9em}
#searchissuelabel{font-size: 1em !important;}
.issuetitlediv{min-height: 1em;}
.issuetitletitle{padding-left: 2.5%;letter-spacing: 0.04em;}
.issuecommentlabel, .issuelabelfile{width: 20%;letter-spacing: 0.04em;
    font-size: 0.8em}
.issuecommentslist{width: 80%;
    display: block;
    margin-right: -15%;
    float: left;margin-top: -4%}
.issuecommentitem{font-size:0.95em;}
.issuefilename{font-size:0.95em;}
div.addissuefilebtntxt, div.removeissuefilebtntxt{font-size:1em;}
#messagenavdiv div{width:100%;}
.cancelsupportupdatebtn{width: 36%;
    margin-left: 3%;}
.sendsupportupdatebtn{width: 36%;}
#supportmessagesdiv.iphone5 .sendsupportupdatebtn{width: 34%;}
#supportmessagesdiv.iphone5 .cancelsupportupdatebtn{width: 34%; margin-left: 3.5%;}
#messageprevlink{width: 40%;
    min-height: 1em;
    padding-top: 1.75%;
    padding-bottom: 1.75%;
    margin-right: 1% !important;
    margin-left: 1.5% !important;
    float: left;}
#messagenextlink{width: 40%;
    min-height: 1em;
    padding-top: 1.75%;
    padding-bottom: 1.75%;
    float: left;
    margin-right:-1%;}

#supportmessagesdiv.iphone5 #messageprevlink{width: 38%;}
#supportmessagesdiv.iphone5 #messagenextlink{width: 38%; }

.ui-content ul.podcastcatul, .ui-content ul.podcategoryul, .ui-content ul.eclasscategoryul{margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;}
#coursetabcontainer .catlititlediv{width: 80%;}
#coursetabcontainer .catnavdiv{width: 11%;}
#mediamaincontent .videocategorymedia.categoryfirst{margin-top: 11%;}
#mediamaincontent .audiocategorymedia.categoryfirst{margin-top: 1%;}
#podcastpage .catlititlediv{width: 86%;}
#podcastpage .catnavdiv{width: 11%;}
#podcastpagehead{min-height:2.6em}
div.medianavbar.ui-navbar, ul.medianavbarul.ui-grid-b{min-height: 2.8em;}
h3.podcastheaderdiv.ui-collapsible-heading{-webkit-margin-before: .1em;
    -webkit-margin-after: .1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;}
#eclasscontentprimary h3.podcastheaderdiv.ui-collapsible-heading{-webkit-margin-before: 0}
#podcastpage h3.podcastheaderdiv a {padding-top: 4%;}

#coursetheorypodcastdiv .podcastheaderdiv a{padding-top:5%;}
#eclasscategories .podcastheaderdiv a{padding-top:5%;}

#playlistheaderbar #playlistheader.titlesingleline{padding-top: 0%;letter-spacing: 0.04em;}

#playlistheaderbar .headernavbarright{margin-top: -2.5%;}

.playlistuldiv .podcastitemnotesdiv{width: 78% !important;}
.playlistuldiv .podcastitemdiv{width: 77% !important;letter-spacing: 0.04em;}
.playlistuldiv.iphone5 .podcastitemdiv{width:73% !important;}
#eclasscategoryul .playlistuldiv.iphone5 .podcastitemdiv{width:78% !important;}

.playlistuldiv .icontypediv, .playlistuldiv .playitembtn, .playlistuldiv .mediabuttonsdiv, .playlistuldiv .mediabuttonsdivall{width:10%;}

.playlistuldiv.iphone5 .icontypediv, .playlistuldiv.ipnone5 .playitembtn, .playlistuldiv.ipnone5 .mediabuttonsdiv, .playlistuldiv.ipnone5 .mediabuttonsdivall{width:12%;}
#courseplaylistcontentprimary .playlistuldiv.iphone5 #coursepodcategoryul .podcastitemdiv{width: 65% !important;}
#footerbarplright div.footerbarright{width: 45%;}
.podlhsmenuicon{margin-top: -2%;}
.rhsfootmenuicon{margin-top: -4%;}
.mixdownloadtitle{width: 30%;
    margin-left: 12%;}
.mixdownloaddiv{padding-left:20%;}

#audiotheoryplayerdiv, #audioplaycontainerdiv{margin-left: 0; padding-bottom:0%}
.mejs-container .mejs-controls{width:98%;}
div.mejs-button.mejs-playpause-button{width: 28px;
    height: 28px;}
.mejs-controls .mejs-button button{width: 28px !important;
    height: 28px !important;}

.mejs-container .mejs-controls .mejs-time{padding: 1% 0 0 0;}

.mejs-container .mejs-controls .mejs-time span{font-size:1em;}
.rail-start{height: 40px !important;
    width: 40px;
    margin-top: -6%;
    margin-left: -9%;}
.iphone5 .rail-start{margin-left:-10%; margin-top: -5%;}
.mejs-controls div.mejs-time-rail{padding-top: 2.25% !important;}
#audioplaycontainerdiv .mejs-controls div.mejs-time-rail{padding-top: 2.25% !important;}
#audioplaycontainerdiv.iphone5 .mejs-controls div.mejs-time-rail{padding-top: 1.75% !important;}
.mejs-controls div.mejs-time-rail, .mejs-controls .mejs-time-rail .mejs-time-total{width: 68% !important;}
#audioplaycontainerdiv.iphone5 .mejs-controls div.mejs-time-rail{padding-top: 1.75% !important;}
div.mejs-time-rail{padding-top:2.25% !important;}
.iphone5 .mejs-container .mejs-controls .mejs-time span{font-size:0.8em;}
.rail-end{height: 40px !important;
    width: 40px;
    margin-top: -6%;
    float: right !important;
    margin-right: -8%;}
.iphone5 .mejs-controls .mejs-time-rail .mejs-time-total{margin-top:2.5%}
.iphone5 .rail-end{margin-top: -5%;}
.mejs-controls .mejs-time-rail .mejs-time-handle{margin-top: -4%;
    width: 30px !important;
    height: 30px !important;}

.iphone5 .mejs-controls .mejs-time-rail .mejs-time-handle{margin-top: -5%}
#playlistdiv.wrapper{margin-top:0;}
#playlistdiv.iphone5 .playlistuldiv .mediabuttonsdiv{width: 12%;}
.supporttablecelll{padding:0!important;}
#supportfooterbckbtn.lhsmenuicon{margin-top: -8%;}
#pdfviewheader{padding-top:4%;}
#pdficonsdivleft{width: 10%;}
